        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Montserrat', sans-serif;
        }
        
        /* main contents styles */
        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-x: hidden;
        }
        /* main header styles */
        
        header {
            width: 100%;
            background-color: #000;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            position: fixed;
            z-index: 99;
            color: #dfdfdf;
        }
        
        .logo {
            width: 30%;
            height: auto;
            margin-left: 50px;
            cursor: pointer;
        }
        
        .logo>h1 {
            width: 100%;
            height: auto;
        }
        
        nav {
            display: flex;
            width: 50%;
            margin-left: 50px;
        }
        
        nav ul {
            width: 100%;
            display: flex;
        }
        
        nav ul li {
            display: flex;
            width: 100%;
            padding: 10px;
        }

        #accounts{
            display: flex;
            justify-content: space-between;
        }
        
        nav ul li a {
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
            display: flex;
            align-items: center;
        }
        
        /* hovering the link makes it to change th color */
        nav ul li a:hover {
            color: #c7701f;
        }
        
        /* home link in the active state */
        .active {
            color: #c7701f;
        }
        
        header i {
            font-size: 2rem;
            visibility: hidden;
        }
        /* end of header styles */

        /* left sidebar styles */
        
        .sidenav {
            height: 50%;
            width: 20%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .sideNav {
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 10%;
            left: 0;
            background-color: #4e4e4e;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
            display: flex;
            flex-direction: column;
         }
         .sideNav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #000000;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            display: block;
            transition: 0.3s;
         }
         .sidenav a:hover {
            color: #f1f1f1;
         }
         .sideNav .closeBtn {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 36px;
            margin-left: 0px;
         }
         button {
            padding: 10px;
            color: #000;
            font-size: 2rem;
            border: none;
            border-radius: 2%;
            margin-left: 10px;
            height: auto;
            outline: none;
            background: none;
            margin-top: 25px;
         }
         
         .main-content{
            transition: 0.5s;
         }

        /* end left sidebar styles */


        /* main content */
        
        .main {
            display: flex;
            width: 60%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            margin-top: 100px;
            margin-left: 200px;
            margin-bottom: 100px;
        }

        #form {
            display: flex;
            align-items: center;
            margin-top: 50px;
            cursor: pointer;
            width: 100%;
        }
        
        #form input {
            width: 100%;
            outline: none !important;
        }
        
        #form i {
            color: #4141f1;
            border: 1px solid rgb(195, 192, 192);
            width: 10%;
            height: auto;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card{
            width: 18rem;
            cursor: pointer;
        }

        .decision{
            display: flex;
            align-items: center;
        }

        .like,
        .dislike{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .count{
            font-size: 1rem;
            font-weight: bold;
        }

        /* end of main contents */


        /* sidebar contents */
        
        .sidebar {
            height: auto;
            width: 18%;
            position: fixed;
            z-index: 1;
            top: 20%;
            right: 0;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .trends-container {
            display: flex;
            flex-direction: column;
        }
        
        .trends-container p {
            font-weight: bold;
        }
        /* end of sidebar contents */
        

        /* mobile responsiveness */
        
        /* extra small devices */
        @media (max-width: 320px) {
            header {
                width: 100%;
                background-color: #000;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                position: fixed;
                z-index: 99;
                color: #dfdfdf;
            }
            .logo {
                width: 10%;
                height: auto;
                margin-left: 10px;
                cursor: pointer;
            }
            .logo>h1 {
                width: 100%;
                height: auto;
                font-size: 1rem;
            }
            nav {
                display: flex;
                width: 100%;
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                margin-top: 100px;
                background: #000;
                margin-left: -10px;
                color: #fff;
            }
            nav ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            nav ul li {
                display: flex;
                width: 100%;
            }
            nav ul li a {
                color: #fff;
                text-decoration: none;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                font-size: .8rem;
            }
            header i {
                font-size: 2rem;
                visibility: visible;
            }
            
            .sidenav,
            .sidebar {
                display: none;
            }
            .main {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
                margin: auto;
                margin-top: 100px;
            }
            #form input {
                width: 100%;
                outline: none !important;
            }
            
            #form i {
                color: #4141f1;
                border: 1px solid rgb(195, 192, 192);
                width: 10%;
                height: auto;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .row {
                display: flex;
                width: 100%;
            }
            .col-sm-4 {
                display: flex;
                width: 100%;
            }
            .card {
                display: flex;
                width: 20rem;
            }
        }
          /* end extra small devices */

          /* medium phones/ devices */
        
        @media (min-width: 321px) and (max-width: 480px) {
            .wrapper {
                width: 100%;
                height: auto;
            }
            header {
                width: 100%;
                background-color: #000;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                position: fixed;
                z-index: 99;
                color: #dfdfdf;
            }
            .logo {
                width: 10%;
                height: auto;
                margin-left: 10px;
                cursor: pointer;
            }
            .logo>h1 {
                width: 100%;
                height: auto;
                font-size: 1rem;
            }
            nav {
                display: flex;
                width: 100%;
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                margin-top: 100px;
                background: #000;
                margin-left: -10px;
                color: #fff;
            }
            nav ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            nav ul li {
                display: flex;
                width: 100%;
            }
            nav ul li a {
                color: #fff;
                text-decoration: none;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                font-size: .8rem;
            }
            header i {
                font-size: 2rem;
                visibility: visible;
            }
            .sidenav,
            .sidebar {
                display: none;
            }
            .main {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
                margin: auto;
                margin-top: 100px;
            }
            #form input {
                width: 100%;
                outline: none !important;
            }
            
            #form i {
                color: #4141f1;
                border: 1px solid rgb(195, 192, 192);
                width: 10%;
                height: auto;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .row {
                display: flex;
                width: 100%;
            }
            .col-sm-4 {
                display: flex;
                width: 100%;
            }
            .card {
                display: flex;
                width: 36rem;
            }
        }

        /* end of  medium phones/ devices */

        /* larger devices like tablets */
        
        @media (min-width: 481px) and (max-width: 767px) {
            header {
                width: 100%;
                background-color: #000;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                position: fixed;
                z-index: 99;
                color: #dfdfdf;
            }
            .logo {
                width: 10%;
                height: auto;
                margin-left: 10px;
                cursor: pointer;
            }
            .logo>h1 {
                width: 100%;
                height: auto;
                font-size: 1rem;
            }
            nav {
                display: flex;
                width: 100%;
                visibility: hidden;
                flex-direction: column;
                position: absolute;
                background: #000;
                margin-left: -10px;
                color: #fff;
                margin-top: 100px;
            }
            nav ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }
            nav ul li {
                display: flex;
                width: 100%;
            }
            nav ul li a {
                color: #fff;
                text-decoration: none;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                font-size: .8rem;
            }
            header i {
                font-size: 2rem;
                visibility: visible;
            }
            .sidenav,
            .sidebar {
                display: none;
            }
            .main {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: auto;
                margin: auto;
                margin-top: 100px;
            }
            #form input {
                width: 100%;
                outline: none !important;
            }
            
            #form i {
                color: #4141f1;
                border: 1px solid rgb(195, 192, 192);
                width: 10%;
                height: auto;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .row {
                display: flex;
                width: 100%;
            }
            .col-sm-4 {
                display: flex;
                width: 100%;
            }
            .card {
                display: flex;
                width: 36rem;
            }
        }